@tailwind base;
@tailwind components;
@tailwind utilities;

.listening-dot {
  width: 12px;
  height: 12px;
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(180,0,0,1) 100%);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.toggle-button {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 0 0 1px rgba(0, 0, 0, 0.1), /* subtle outline */
              inset 0 0 5px rgba(0, 0, 0, 0.1); /* inner shadow */
}

.toggle-button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
              0 0 0 1px rgba(0, 0, 0, 0.1),
              inset 0 0 8px rgba(0, 0, 0, 0.2); /* slightly stronger inner shadow on press */
}
.toggle-button span {
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.bounce-once {
    animation: bounce-with-delay 2.5s infinite;
}
.bounce-loop {
    animation: bounce-with-delay 2.5s infinite;
}

@keyframes bounce-with-delay {
  0%, 20% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  20%, 100% { /* Start the 2-second delay after the bounce */
    transform: translateY(0);
  }
}

.animate-point-left {
  animation: point-left 1s infinite;
}

@keyframes point-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: transparent;
}

.text-white {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.relative.z-10 {
  position: relative;
  z-index: 10;
}

/* Existing animation */
.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-wave {
  animation: wave 0.5s ease-out;
}

@keyframes wave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(109, 40, 217, 0.7); /* Starting shadow, purple color */
  }
  100% {
    transform: scale(1.5);
    box-shadow: 0 0 0 20px rgba(109, 40, 217, 0); /* Expanding shadow, fades out */
  }
}

/* New animation for page load */
.animate-fade-in-slide-up {
  animation: fade-in-slide-up 0.6s ease-out;
}

@keyframes fade-in-slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
